In [46]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
# Input Files (CSV)

minneapolis = "DataFiles/minneaplis_sorted.csv"
indianapolis = "DataFiles/indianapolis_sorted.csv"
atlanta = "DataFiles/atlanta_sorted.csv"
dallas = "DataFiles/dallas_sorted.csv"
miami = "DataFiles/miami_sorted.csv"

# Output Files (CSV)
# minne_out = "DataFiles/minneaplis_sorted.csv"
# india_out = "DataFiles/indianapolis_sorted.csv"
# atlanta_out = "DataFiles/atlanta_sorted.csv"
# dallas_out = "DataFiles/dallas_sorted.csv"
# miami_out = "DataFiles/miami_sorted.csv"

In [76]:
minne_cleaning_start_df = pd.read_csv(minneapolis)
minne_cleaning_start_df.head()
# minne_cleaning_start_df["Offense"].value_counts()

,Unnamed: 0,Offense,Description,Description.1,Offense.1,BeginDate,Time,UCRCode,X,Y
0,0,SHOPLF,Shoplifting,Shoplifting,SHOPLF,2010-01-25T20:25:00.000Z,20:25:00,7,-1.038018e+07,5.613397e+06
1,1,BURGD,Burglary Of Dwelling,Burglary Of Dwelling,BURGD,2010-01-25T07:10:00.000Z,07:10:00,6,-1.038684e+07,5.627201e+06
2,2,BURGB,Burglary Of Business,Burglary Of Business,BURGB,2010-01-22T17:00:00.000Z,17:00:00,6,-1.038193e+07,5.611276e+06
3,3,ASLT3,Aslt-sgnfcnt Bdly Hm,Aslt-sgnfcnt Bdly Hm,ASLT3,2010-01-25T17:53:00.000Z,17:53:00,5,-1.038131e+07,5.613960e+06
4,4,AUTOTH,Motor Vehicle Theft,Motor Vehicle Theft,AUTOTH,2010-01-25T11:00:00.000Z,11:00:00,8,-1.038421e+07,5.621383e+06

In [75]:
india_cleaning_start_df = pd.read_csv(indianapolis)
india_cleaning_start_df.head()
# print(india_cleaning_start_df["CRIME"].value_counts())

,Unnamed: 0,CRIME,DATE_,TIME,UCR,X_COORD,Y_COORD
0,0,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,04:24,110,197257.63,1665903.64
1,1,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,10:39,110,194654.40,1657659.54
2,2,CRIMINAL HOMICIDE,2007-01-04T00:00:00.000Z,18:01,110,210918.07,1667754.09
3,3,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,07:06,110,237903.29,1658024.95
4,4,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,18:19,110,192426.71,1635335.92

In [59]:
india_cleaning_start_df.head()

,Unnamed: 0,CRIME,DATE_,TIME,UCR,X_COORD,Y_COORD
0,0,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,04:24,110,197257.63,1665903.64
1,1,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,10:39,110,194654.40,1657659.54
2,2,CRIMINAL HOMICIDE,2007-01-04T00:00:00.000Z,18:01,110,210918.07,1667754.09
3,3,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,07:06,110,237903.29,1658024.95
4,4,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,18:19,110,192426.71,1635335.92

In [69]:
atlanta_cleaning_start_df = pd.read_csv(atlanta)
atlanta_cleaning_start_df.head()
atlanta_cleaning_start_df["UCR Literal"].value_counts()

LARCENY-FROM VEHICLE    96067
LARCENY-NON VEHICLE     75475
BURGLARY-RESIDENCE      47507
AUTO THEFT              44077
AGG ASSAULT             23009
ROBBERY-PEDESTRIAN      16435
BURGLARY-NONRES         10180
ROBBERY-COMMERCIAL       2156
ROBBERY-RESIDENCE        2104
HOMICIDE                  878
MANSLAUGHTER               16
Name: UCR Literal, dtype: int64

In [74]:
dallas_cleaning_start_df = pd.read_csv(dallas)
dallas_cleaning_start_df.head()
dallas_cleaning_start_df["Nature Of Call"].value_counts()

,Unnamed: 0,Description,Nature Of Call,Reported Date,Location
0,0,GC 080 Public Intoxication 90E DRUNKENNESS 000...,PUBLIC INTOXICATION,08/09/2019,NaN
1,1,PC 30.03 Burglary Coin Oper Col Machine 23E THEFT,BURGLARY COIN,05/09/2019,"(32.724915021438086, -97.41403442866837)"
2,2,PC 30.02(C)(2) Burglary Habitation 220 BURGLAR...,BURGLARY RESIDENTIAL,11/17/2016,"(32.76230775795685, -97.39014722478377)"
3,3,PC 32.51 Fraud Use Poss of ID Info 26F Identit...,FRAUD,12/11/2018,"(32.76088022312888, -97.34294560089083)"
4,4,PC 22.01(A)(1) Assault Causes B/I 13B SIMPLE A...,ASSAULT,10/24/2018,"(32.71732110345178, -97.35193318230765)"