In [17]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
# Input Files (CSV)
# minneapolis = "DataFiles/minneaplis_sorted_date.csv"
# indianapolis = "DataFiles/indianapolis_sorted_date.csv"
# atlanta = "DataFiles/atlanta_sorted_date.csv"
atlanta2019 = "DataFiles/Atlanta-2019.csv"
# dallas = "DataFiles/dallas_sorted_date.csv"
# miami = "DataFiles/miami_sorted_date.csv"

# Output Files (CSV)
# minne_out = "DataFiles/minneaplis_sorted.csv"
# india_out = "DataFiles/indianapolis_sorted.csv"
# atlanta_out = "DataFiles/atlanta_sorted.csv"
atlanta2019_out = "DataFiles/atlanta2019_sorted_date.csv"
# dallas_out = "DataFiles/dallas_sorted.csv"
# miami_out = "DataFiles/miami_sorted.csv"

In [4]:
minne_cleaning_start_df = pd.read_csv(minneapolis)
minne_cleaning_start_df.head()
minne_cleaning_start_df["Description"].value_counts()

Other Theft                       43460
Theft From Motr Vehc              26122
Burglary Of Dwelling              25993
Motor Vehicle Theft               12703
Shoplifting                        6406
Robbery Per Agg                    6069
Robbery Of Person                  5254
Burglary Of Business               5129
Asslt W/dngrs Weapon               4556
Bike Theft                         4494
Theft From Person                  2635
Crim Sex Cond-rape                 2079
Domestic Assault/Strangulation     1945
2nd Deg Domes Aslt                 1779
Theft By Swindle                   1644
Aslt-sgnfcnt Bdly Hm               1342
Robbery Of Business                 846
Theft-motr Veh Parts                823
Arson                               820
Aslt-police/emerg P                 714
Theft From Building                 656
3rd Deg Domes Aslt                  466
Murder (general)                    184
Aslt-great Bodily Hm                158
Other Vehicle Theft                 150
Gas Station Driv-off                 91
Scrapping-Recycling Theft            62
Theft/coinop Device                  52
Theft By Computer                    29
1st Deg Domes Asslt                  20
Pocket-picking                       17
On-line Theft                        15
Disarm a Police Officer               7
Justifiable Homicide                  1
Looting                               1
Name: Description, dtype: int64

In [6]:
india_cleaning_start_df = pd.read_csv(indianapolis)
india_cleaning_start_df.head()
india_cleaning_start_df["CRIME"].value_counts()

ASSAULT - SIMPLE                77153
BURG - FRC ENT - RES DAY        32473
VEHICLE THEFT                   31003
STOLEN VEHICLE                  30548
LARCENY-OVER 200-FROM AUTO      27825
BURG-FORCIBLE ENT-RES DAY       24238
LARC-OVER 200-FROM VEHICL       23527
LARCENY-OVER 200-FROM BUILD     20184
BURG - FRC ENT - RES NGT        18765
LARC-OVER 200-BUILDING          17269
AGGRAVATED ASSAULT-OTHER WE     15010
BURG-FORCIBLE ENT-RES NIGHT     14453
LARCENY-OVER 200-OTHER          13814
ASSAULT - OTHER WEAPON          12972
AGGRAVATED ASSAULT-GUN          12829
LARC-OVER 200-OTHER             12810
LARC-OVER 200-VEH ACCESS        12579
LARC-UNDER 50-VEH ACCESS        12516
LARCENY-50 TO 200-SHOPLIFTI     10860
LARC-UNDER 50-SHOPLIFTING       10815
AGGRAVATED ASSAULT-HANDS,FI     10061
LARC-50/200-FROM VEHICL         10048
LARCENY-UNDER 50-SHOPLIFTIN      9828
LARCENY-50 TO 200-FROM AUTO      9453
LARC-50/200-SHOPLIFTING          9134
BURG - NO FRC - RES DAY          9078
LARC-50/200-BUILDING             8691
LARC-UNDER 50-FROM VEHICL        8688
LARCENY-50 TO 200-FROM BUIL      8387
LARCENY-UNDER 50-AUTO ACCES      8249
                                ...
ROBBERY-ARMED-BANK                 99
LARCENY-UNDER 50-COIN OPERA        98
LARCENY-OVER 200-COIN OPERA        98
ROBBERY-STRONG ARM-OIL STAT        87
LARC-OVER 200-COIN OP MAC          85
ROBBERY - STRARM OIL ST            83
ROBBERY - STRARM BANK              83
LARCENY-50 TO 200-FROM BUILD       81
LARCENY-50 TO 200-PURSESNAT        81
ROBBERY - STRARM CHAIN ST          80
LARCENY-50 TO 200-COIN OPER        73
LARCENY-UNDER 50-FROM BUILDI       64
LARCENY-OVER 200-AUTO ACCESS       62
ROBBERY-ARMED-CHAIN STORE          57
ROBBERY-STRONG ARM-BANK            52
LARCENY-UNDER 50-PURSESNATC        51
BURG-FORCIBLE ENT-NON-RES NI       47
ROBBERY-ARMED-COMMERCIAL HOU       32
BURG-FORCIBLE ENT-NON-RES DA       24
ROBBERY-STRONG ARM-RESIDENCE       19
MANSLAUGHTER BY NEG                13
LARCENY-50 TO 200-AUTO ACCES       10
ROBBERY-STRONG ARM-COMMERCIA        7
ROBBERY-STRONG ARM-CHAIN ST         6
 CRIMINAL HOMICIDE                  5
LARCENY-UNDER 50-POCKETPICKI        4
LARCENY-OVER 200-POCKETPICKI        4
ATTEMPT STRONG ARMED ROBBERY        4
LARCENY-50 TO 200-POCKETPICK        1
LARCENY-50 TO 200-PURSESNATC        1
Name: CRIME, Length: 152, dtype: int64

In [7]:
india_cleaning_start_df.head()

,Unnamed: 0,CRIME,DATE_,Month,Day,Year,TIME,UCR,X_COORD,Y_COORD
0,0,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,1,1,2007,4:24,110,197257.63,1665903.64
1,1,CRIMINAL HOMICIDE,2007-01-01T00:00:00.000Z,1,1,2007,10:39,110,194654.40,1657659.54
2,2,CRIMINAL HOMICIDE,2007-01-04T00:00:00.000Z,1,4,2007,18:01,110,210918.07,1667754.09
3,3,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,1,10,2007,7:06,110,237903.29,1658024.95
4,4,CRIMINAL HOMICIDE,2007-01-10T00:00:00.000Z,1,10,2007,18:19,110,192426.71,1635335.92

In [20]:
atl_start_df = pd.read_csv(atlanta)
atl_start_df = atlanta_cleaning_start_df.loc[:, ["UCR Literal", "Report Date", "Month", "Day", "Year", "Occur Time", "UCR #", "Latitude", "Longitude"]]
atl_start_df.head()
atl_start_df["Year"].value_counts()

2009    39396
2010    35502
2011    34875
2012    33408
2013    32440
2014    31133
2015    30089
2016    29022
2017    26411
2018    25628
Name: Year, dtype: int64

In [22]:
atl2019_start_df = pd.read_csv(atlanta2019)
atl2019_start_df = atl2019_start_df.loc[:, ["UCR Literal", "Report Date", "Month", "Day", "Year", "Occur Time", "UCR #", "Latitude", "Longitude"]]
atl2019_start_df.head()
# atl2019_start_df["Year"].value_counts()

,UCR Literal,Report Date,Month,Day,Year,Occur Time,UCR #,Latitude,Longitude
0,LARCENY-NON VEHICLE,1/1/2019,1,1,2019,20,620,33.75194,-84.38964
1,LARCENY-NON VEHICLE,1/1/2019,1,1,2019,120,620,33.75312,-84.39208
2,LARCENY-NON VEHICLE,1/1/2019,1,1,2019,1740,620,33.68077,-84.49370
3,LARCENY-FROM VEHICLE,1/1/2019,1,1,2019,2350,640,33.75126,-84.37207
4,LARCENY-FROM VEHICLE,1/1/2019,1,1,2018,414,640,33.70204,-84.44972

In [25]:
atl2019_start_df.to_csv(atlanta2019_out)

In [90]:
dallas_cleaning_start_df = pd.read_csv(dallas)
dallas_cleaning_start_df.head()
dallas_cleaning_start_df["Year"].value_counts()

2019    38171
2018    14533
2010        1
2016        1
Name: Year, dtype: int64

In [100]:
miami_cleaning_start_df = pd.read_csv(miami)
miami_cleaning_start_df.head()
miami_cleaning_start_df["Year"].value_counts()

2016    57016
2018    55741
2017    53961
2019    36702
2015    35602
Name: Year, dtype: int64