In [116]:
%matplotlib notebook

# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Read CSV
got_data_pd = pd.read_csv("Indiana - Clean Data - 3.csv")
got_data_pd.head()

           Crime      Date
0  ASSAULT - GUN  1/1/2011
1  ASSAULT - GUN  1/1/2011
2  ASSAULT - GUN  1/1/2011
3  ASSAULT - GUN  1/2/2011
4  ASSAULT - GUN  1/2/2011

In [117]:
# Display a statistical overview of the DataFrame
got_data_pd.describe()

                   Crime      Date
count              43930     43930
unique                10      1096
top     ASSAULT - SIMPLE  1/1/2011
freq               15121       147

In [118]:
# Reference a single column within a DataFrame
got_data_pd["Date"].head()

0    1/1/2011
1    1/1/2011
2    1/1/2011
3    1/2/2011
4    1/2/2011
Name: Date, dtype: object

In [119]:
got_data_pd[["Crime", "Date"]].head()

           Crime      Date
0  ASSAULT - GUN  1/1/2011
1  ASSAULT - GUN  1/1/2011
2  ASSAULT - GUN  1/1/2011
3  ASSAULT - GUN  1/2/2011
4  ASSAULT - GUN  1/2/2011

In [120]:
# Type of crimes
unique = got_data_pd["Crime"].unique()
unique

array(['ASSAULT - GUN', 'ASSAULT - KNIFE', 'ASSAULT - OTHER WEAPON',
       'ASSAULT - HAND,FIST', 'ASSAULT - SIMPLE',
       'VEHICLE THEFT - ATTEMPT', 'VEHICLE THEFT',
       'AGGRAVATED ASSAULT-KNIFE', 'AGGRAVATED ASSAULT-OTHER WE',
       'STOLEN VEHICLE'], dtype=object)

In [121]:
got_data_pd["Crime"].value_counts()

ASSAULT - SIMPLE               15121
VEHICLE THEFT                   9263
STOLEN VEHICLE                  4801
ASSAULT - OTHER WEAPON          4231
ASSAULT - HAND,FIST             2833
ASSAULT - GUN                   2501
AGGRAVATED ASSAULT-OTHER WE     2283
ASSAULT - KNIFE                 1574
AGGRAVATED ASSAULT-KNIFE         736
VEHICLE THEFT - ATTEMPT          587
Name: Crime, dtype: int64

In [139]:
got_data_go = got_data_pd[got_data_pd["Date"]=='3/3/2013']
got_data_go["Crime"].value_counts()

STOLEN VEHICLE                 14
AGGRAVATED ASSAULT-OTHER WE    11
AGGRAVATED ASSAULT-KNIFE        1
Name: Crime, dtype: int64